[Desktop Entry]
Encoding=UTF-8
Name=Joplin
Comment=Joplin for Desktop
Exec=/home/{{ user.username }}/.joplin/Joplin.AppImage
Icon=/home/{{ user.username }}/.joplin/Icon512.png
StartupWMClass=Joplin
Type=Application
Categories=Application;
{{ BUILDID_line.stdout }}
